body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#view-container {
    display:flex;
    justify-content: center;
    margin:auto;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 10px;
    margin: auto;
    width: 80%;
}

#poster-container {
    width: 100%;
    padding: 20px;
}

#text-comtainer {
    display: block;
}

.special-text {
    color: #34568B;
}

button {
    color: white;
    background-color: #34568B;
    border-radius: 4px;
    text-align: center;
    font-size: 26px;
    border: none;
    display: flex;
    float: left;
}

button:active {
    color: black;
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media screen and (max-width: 400px) {
    
}